body{
	padding: 0;
	margin: 0;
	font-family: arial;
	font-size: 13px;
}

p{
	color: #777;
	left: 145px;
}


 .main {
	width: 100%;
	position: relative;
	font-size: 13px;
	height: 30px;
	padding-top: 20px;
	padding-bottom: 30px;
	display: inline-block;
	background-color: #fafafa;
}


#tool_bar a:first-child {

	color: #4285f4;
	border-bottom-style: solid;
	border-bottom-color: #4285f4;
	padding-bottom: 40px;
	padding-left: 15px;
	padding-right: 15px;
	align-items: center;
	text-align: center;
}



 #tool_bar{
 	display: inline-block;
 	position: relative;
 	height: 30px;
 	left: 133px;

 }

#tool_bar_extra{
	display: inline-block;
	position: relative;
	left: 165px;
}
 

#tool_bar > a, #tool_bar_extra > a{
	color: #777;
	text-decoration: none;
	font-size: 14px;
	font-family: arial;
	padding-bottom: 5px;
	margin-left: 15px;
	margin-right: 15px;
	text-align: center;
}

#tool_bar > a:hover, #tool_bar_extra > a:hover {
	color: #000000;
}


#search_icon {
	margin: 0;
	left: 485px;
	display: inline-block;
	height: 20px;
	background: ;
	position: relative;
	background-size: 20px;
}

form { 
	display: inline-block;
    position: relative;
	width: 100px;
	border-radius: 10;
	bottom: 30px;


}

input {
	background-image: url("../microphone.png"), url(../magnifying_glass.png);
	background-repeat: no-repeat;
	background-position: 530px, 570px;
	background-size: 24px 24px, 18px 18px;
	position: absolute;
	display: inline-block;
	font: 16px arial,sans-serif;
	height: 35px;
	width: 600px;
	padding: 4px;
	padding-left: 12px;
	vertical-align: center;
}
	





#google {
	position: relative;
	padding-left: 13px;
	padding-right: 12px;
	height: 41px;
	width: 120px;
	top: 15px;
	
}

#sidebar{
	padding: 20px;
	margin: 5px;
	width: 100px;
	display: inline-block;
	position: absolute;
	left: 1050px;
}

#sidebar > table {
	margin-right: 10px;
	display: inline-block;
	position: relative;
}

#sign_in {
	font-family: arial;
	font-size: 15px;
	text-align: center;
	margin: 5px;
	padding: 2px;
	position: relative;
	bottom: 8px;
	display: inline-block;
	background-color: #4285f4;
	color: #ffffff;
	height: 20px;
	width: 48px;
}

td{
	background-color: #999999;
	height: 3px;
	width: 3px;
}

#side_bar > table:hover{
	color: #000000 !important;
}

#search_speed{
	position: relative;
	left: 145px;
}

.result{
	line-height: 140%;
	display: block;
	position: relative;
	left: 145px;
	width: 600px;
	margin-bottom: 30px;
}

.result > a{
	position: relative;
	color: #1a0dab;
	text-decoration: none;
	font-size: 18px;
}

.result > a:hover{
	text-decoration: underline;
	color: #1a0dab !important;
}

.result_website {
	position: relative;
	margin: 0px;
	color: #006621;
	font-size: 14px;
}


.result_info {
	position: relative;
	bottom: 5px;
	left: 160px;
	padding: 2px;
	margin-left: 30px;
	margin-bottom: 10px;
	width: 220px;
	display: inline-block;
}

.result_info::first-line{
	font-size: 18px;
	color: #1a0dab;
}

 #result_info_cache{
 	left: 190px;
	position: relative;
	color: #1a0dab;
}

#search_results{
	position: relative;
	left: 145px;
	font-size: 18px;
	color: #000000;
}

#related_results_table{
	position: relative;
	left: 72px;
}

#related_results_table td{
	width: 250px;
	color: #1a0dab;
	background-color: #ffffff;
	line-height: 20px;
	font-size: 14px;
}


.bottom_part{
	background-color: #fafafa;
	color: #aaaaaa;
	height: 32.5px;
	padding-left: 145px;
	padding-top: 20px;
	padding-bottom: 20px; 
	width: 100%;
}

.bottom_part > a {
	color: #777777;
	text-decoration: none;
}

body > p {
	position: relative;
	left: 275px;
	font-size: 35px;
}

body > p > a:first-child{
	color: #4285f4;
}

body > p > a:nth-child(2){
	color: #c10b0b;
}

body > p > a:nth-child(n+3):nth-child(-n+11){
	color: #ffbf00;
}

body > p > a:nth-child(12){
	color: #4285f4;
}

body > p > a:nth-child(13){
	color: #1abf0b;
}

body > p > a:nth-child(14){
	color: #c10b0b;;
}

#pageNumber{
	bottom: 30px;
	margin-left: 25px;
	font-size: 12px;
}


#page_number_1{
	color: #000000;
	margin-left: 8px;
	margin-right: 5px;
}

#page_number_else{
	color: #4285f4;
	margin-left: 8px;
	margin-right: 5px;
}



p > a {
	text-decoration: none;
}

.bottom_part > a:hover{
	color: #333333;
}

.bottom_part > p > a {
	text-decoration: none;
	color: #777777;
	margin-right: 50px;
}

.bottom_part > p > a:hover {
	color: #333333;
}

