body{
	padding: 0;
	margin: 0;
	font-family: arial;
	font-size: 13px;
}

p{
	color: #777;
	left: 145px;
}


 .main {
	width: 100%;
	position: relative;
	font-size: 13px;
	height: 30px;
	padding-top: 20px;
	padding-bottom: 30px;
	display: inline-block;
	background-color: #fafafa;
}


#tool_bar a:first-child {

	color: #4285f4;
	border-bottom-style: solid;
	border-bottom-color: #4285f4;
	padding-bottom: 40px;
	align-items: center;
}



 #tool_bar{
 	display: inline-block;
 	position: relative;
 	height: 30px;
 	left: 145px;

 }

#tool_bar_extra{
	display: inline-block;
	position: relative;
	left: 200px;
}
 

#tool_bar > a, #tool_bar_extra > a{
	color: #777;
	text-decoration: none;
	font-size: 14px;
	font-family: arial;
	padding: 5px;
	padding-right: 25px;
}




#search_icon {
	margin: 0;
	left: 485px;
	display: inline-block;
	height: 20px;
	background: ;
	position: relative;
	background-size: 20px;
}

form { 
	display: inline-block;
    position: relative;
	width: 100px;
	border-radius: 10;
	bottom: 30px;


}

input {
	background-image: url("../microphone.png"), url(../magnifying_glass.png);
	background-repeat: no-repeat;
	background-position: 530px, 570px;
	background-size: 24px 24px, 18px 18px;
	position: absolute;
	display: inline-block;
	font: 16px arial,sans-serif;
	height: 35px;
	width: 600px;
	padding: 4px;
	padding-left: 12px;
	vertical-align: center;
}
	





#google {
	position: relative;
	padding-left: 13px;
	padding-right: 12px;
	height: 41px;
	width: 120px;
	top: 15px;
	
}

#sidebar{
	padding: 20px;
	margin: 5px;
	width: 100px;
	display: inline;
	position: absolute;
	left: 1250px;
}

#sidebar > table {
	margin-right: 5px;
	display: inline-block;
	position: relative;
}

#sign_in {
	font-family: arial;
	font-size: 15px;
	text-align: center;
	margin-right: 5px;
	padding: 5px;
	position: relative;
	bottom: 8px;
	display: inline-block;
	background-color: #4285f4;
	color: #ffffff;
	height: 20px;
	width: 48px;
}


#sidebar td{
	background-color: #999999;
	height: 3px;
	width: 3px;
}

a {
	padding: 5px;
}

a:hover{
	color: #000000 !important;
}

#search_speed{
	position: relative;
	left: 145px;
}